@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/fonts/unbounded/Unbounded-VariableFont_wght.ttf")
		format("truetype");
}

@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("/fonts/ubuntu_sans/UbuntuSans-VariableFont_wdth,wght.ttf")
		format("truetype");
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("/fonts/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

@theme {
	--font-c-unbounded: Unbounded, sans-serif;
	--font-c-bebas: BebasNeue, sans-serif;
	--font-c-ubuntu: Ubuntu, sans-serif;

	--color-c-bg-0: #cbcbcb;
	--color-c-bg-1: #bbbbae;
	--color-c-bg-2: #a7a7a7;

	--color-c-neutral-0: #383a42;
	--color-c-neutral-1: #6f7175;

	--color-c-accent-0: #e27250;
	--color-c-accent-1: #4078f2;

	--color-c-success: #50a14f;
	--color-c-warning: #b7b701;
	--color-c-error: #e45649;
	--color-c-info: #0184bc;

	--color-c-border: #696969;
}

@layer theme {
	:root,
	:host {
		@variant dark {
			--color-c-bg-0: #131518;
			--color-c-bg-1: #282c34;
			--color-c-bg-2: #31353f;

			--color-c-neutral-0: #abb2bf;
			--color-c-neutral-1: #5c6370;

			--color-c-accent-0: #eda792;
			--color-c-accent-1: #61afef;

			--color-c-success: #98c379;
			--color-c-warning: #e5c07b;
			--color-c-error: #e86671;
			--color-c-info: #56b6c2;

			--color-c-border: #454b59;
		}
	}
}

@layer base {
	::selection {
		background-color: var(--color-c-accent-0);
		color: var(--color-c-bg-0);
	}

	::-moz-selection {
		background-color: var(--color-c-accent-0);
		color: var(--color-c-bg-0);
	}
}
