@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("/fonts/unbounded/Unbounded-VariableFont_wght.ttf") format("truetype");
}

@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("/fonts/ubuntu_sans/UbuntuSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("/fonts/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
}

@theme {
	--font-unbounded: Unbounded, sans-serif;
	--font-bebas:  BebasNeue, sans-serif;
	--font-ubuntu:  Ubuntu, sans-serif;

	/* core surfaces */
	--color-bg: #e0e0e0;
	--color-surface: #b8b8b8;
	--color-surface-2: #9c9c9c;

	/* text */
	--color-text: #383a42;
	--color-muted: #818387;

	/* accents */
	--color-accent: #4078f2;
	--color-accent-alt: #a626a4;

	--color-success: #50a14f;
	--color-warning: #c18401;
	--color-error: #e45649;
	--color-info: #0184bc;

	/* subtle borders */
	--color-border: #9c9c9c;
}

@layer theme {
	:root,
	:host {
		@variant dark {
			/* core surfaces */
			--color-bg: #171a1e; /* default bg */
			--color-surface: #282c34; /* main panels */
			--color-surface-2: #31353f; /* hover / elevated UI */

			/* text */
			--color-text: #abb2bf; /* fg */
			--color-muted: #5c6370; /* grey */

			/* accents */
			--color-accent: #eda792; /* orange (primary) */
			--color-accent-alt: #61afef; /* blue */

			--color-success: #98c379; /* green */
			--color-warning: #e5c07b; /* yellow */
			--color-error: #e86671; /* red */
			--color-info: #56b6c2; /* cyan */

			/* subtle borders */
			--color-border: #31353f;
		}
	}
}
